<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface> 
        <composite:attribute name="langTexto" default="pt"/>
        <composite:attribute name="langTraducao" default="en"/>    	 
    </composite:interface>

    <composite:implementation>
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <h4 class="panel-title">
                    Tradutor <label class="badge"> #{cc.attrs.langTexto} &nbsp;<span class="glyphicon glyphicon-arrow-right"></span> #{cc.attrs.langTraducao}</label>
                    <a data-toggle="collapse" class="pull-right" href="#campos-#{cc.id}"><span
                            class="glyphicon glyphicon-collapse-down"></span></a>
                </h4>
            </div>
            <div id="campos-#{cc.id}" class="panel-body collapse in">                    
                <div class="row">                                                 
                    <h:inputText id="texto-#{cc.id}" value="#{tradutorBean.texto}" 
                                     styleClass="form-control" pt:placeholder="Texto Original"/>                      
                </div>

                <div class="row">                                                 
                    <h:commandLink action="#{tradutorBean.traduzir(cc.attrs.langTexto, cc.attrs.langTraducao)}" 
                                   class="btn btn-block btn-primary">Traduzir                        
                    </h:commandLink>
                </div>

                <div class="row">                                                 
                    <h:outputText id="traducao" value="#{tradutorBean.traducao}" />                      
                </div>                    
            </div>
        </div>
    </composite:implementation>

</html>