<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jm="http://java.sun.com/jsf/composite/composite/tradutor">
    <h:head>
        <title>POC JSF TBSP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <h:outputStylesheet library="css" name="bootstrap.css"/>				
        #{resource['font:glyphicons-halflings.svg']}
    </h:head>
    <h:body>   
        <script type="text/css">

        </script>

        <div id="cabecalho">
            <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">                       
                        <a class="navbar-brand" href="#{application.contextPath}">POC JSF Twitter Bootstrap</a>
                    </div>
                </div>
            </div>
        </div>
	<h:form>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<jm:tradutor />
		</div>
<!-- 		<div class="col-lg-4 col-md-6 col-sm-12"> -->
<!-- 			<jm:tradutor /> -->
<!-- 		</div> -->
<!-- 		<div class="col-lg-4 col-md-6 col-sm-12"> -->
<!-- 			<jm:tradutor /> -->
<!-- 		</div> -->
<!-- 		<div class="col-lg-4 col-md-6 col-sm-12"> -->
<!-- 			<jm:tradutor /> -->
<!-- 		</div> -->
<!-- 		<div class="col-lg-4 col-md-6 col-sm-12"> -->
<!-- 			<jm:tradutor /> -->
<!-- 		</div> -->

	</h:form>
</h:body>

    <footer>
        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="bootstrap.js" />	
    </footer>
</html>

